@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.box-shadow {
	@apply shadow-[0px_10px_20px_rgba(0,0,0,0.08),0px_-10px_20px_rgba(0,0,0,0.05)];
}
/* Custom thin scrollbar */
::-webkit-scrollbar {
	width: 6px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #e3e3e3;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #2e89f7;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #075fca;
}
